


<div class="bg-light">
	
	<div class="my-5">
		<h2 class="fw-bold h-font text-center">CONTACTUS</h2>
		<div class="h-line bg-dark"></div>
	</div>
	<div class="container">
		<div class="row">
			<!-- contact part -->
			<div class="col-md-5 col-lg-6 px-4">
				<div class="bg-white rounded shadow p-4">

					<iframe class="w-100 rounded" height="320px" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14602.059008038063!2d90.35490730781252!3d23.800288000000002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755c19a338087d3%3A0xbc7f6183875634a3!2sGenuity%20Training!5e0!3m2!1sen!2sbd!4v1677404339035!5m2!1sen!2sbd" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

					<h5>Address</h5>
					<a href="https://goo.gl/maps/6j2j3ME1QT7JQTTL6" target="_blank" class="d-inline-block text-decoration-none text-dark"><i class="bi bi-geo-alt-fill"></i>Mirpur 10</a>

					<div class="bg-white p-4 rounded mb-4">
						<h5 class="mt-4">Call Us</h5>
						<a href="tel: 01838357303" class="d-inline-block mb-2 text-decoration-none text-dark"><i class="bi bi-telephone-fill"></i> 01838357303</a>
						<br>
						<a href="tel: 01838357303" class="d-inline-block text-decoration-none text-dark"><i class="bi bi-telephone-fill"></i> 01838357303</a>

						<h5 class="mt-4">Email :</h5>
						<a href="mailto: ask.admin@gmail.com" class="d-inline-block text-decoration-none text-dark"><i class="bi bi-envelope-fill px-2"></i>Hackers@gmail.com</a>

						<h5>Follow Us</h5>
						<a href="#" class="d-inline-block mb-3">
							<i class="bi bi-twitter me-1"></i>

						</a>

						<a href="#" class="d-inline-block mb-3">
							<i class="bi bi-facebook me-1"></i>

						</a>

						<a href="#" class="d-inline-block mb-3">
							<i class="bi bi-whatsapp me-1"></i>

						</a>

						<a href="#" class="d-inline-block">
							<i class="bi bi-instagram me-1"></i>

						</a>
					</div>
				</div>

			</div>
			<div class="col-md-5 col-lg-6  px-4">
				<div class="bg-white rounded shadow p-4 ">
					<form action="">
						<h5>Send Message</h5>
						<div class="mt-3">
						  <label for="email" class="form-label" style="font-weight: 500;">Name</label>
						  <input type="text" class="form-control shadow-none" id="email">
						</div>
						<div class="mt-3">
						  <label for="email" class="form-label" style="font-weight: 500;">Email :</label>
						  <input type="email" class="form-control shadow-none">
						</div>
						<div class="mt-3">
						  <label for="email" class="form-label" style="font-weight: 500;">Subject :</label>
						  <input type="text" class="form-control shadow-none">
						</div>
						<div class="mt-3">
						  <label for="email" class="form-label" style="font-weight: 500;">Message :</label> <br>
						  <textarea name="" id="" cols="60" rows="1"></textarea>
						</div>
						<div>
						  <button type="submit" class="btn btn-outline-dark  mt-3">Send</button>
						</div>
					  </form>
					  
				</div>

			</div>
			<!-- contact part -->
		</div>
	</div>
</div> 
	